.services {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font: var(--font-xl);
        font-weight: 500;
    }

    @media (max-width: 590px) {
        flex-direction: column;
        

        .custom_button{
            color: white;
            background-color: #3A3C35;
            margin-bottom: 2rem;
            width: 70%;
            align-items: center;
            justify-content: center;
        }
    }
}



.faq_block{

    display: flex;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    h1{
        font: var(--font-xl);
        font-weight: 600;
        color: #3A3C35;
        width: 50%;
        height: 100%;
        margin-top: 0;
    }
    .flipper_block{
        width: 100%;
        margin-top: 2rem;
    }

    @media (max-width: 590px) {
        flex-direction: column;
        
        h1{
            font: var(--font-xl);
            
        }
       
    }

    @media (min-width: 590px) {
        
        
       
        .flipper_block{
            width: 100%;
            margin-top: 0rem;
        }
    }
    
}
.map_block{
    display: flex;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;
    align-items: center;


    h1{
        font: var(--font-xl);
        font-weight: 600;
        color: var(--bg-primary);
        flex-wrap: wrap;
        width: 300px;
        
    }
    @media (max-width: 590px) {
        flex-direction: column;
        align-items: start;
        h1{
            font: var(--font-xl);
            font-weight: 600;
            width: 300px;
            align-items: none;
            margin-bottom: 0rem;
        }

        .map_block_contact {
            width: 100%;
            display: flex;
            flex-direction: column;
          
            .phone {
              font-size: 10pt;
              align-items: flex-start;
              margin-bottom: 0;
              margin-top: 1rem;

            }
          
            .adress {
              font-size: 10pt;
              margin-top: 0;
              margin-bottom: 1.5rem;

            }
          
            .custom_button {
              width: 70%;
              justify-content: center;
              color: white;
              background-color: #3a3c35;
              margin: 0 auto;
              align-items: center;
              
              
            }
          
          }
          
    }
}