:root {
    --bg-color: #ffffff;
    --inverted-bg-color: #cdbaba;

    --primary-color: #333333;
    --secondary-color: #7B7B7B;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}
